# ignore all default
*

# keep for build
!package.json
!package-lock.json
!next.config.mjs
!tsconfig.json
!tailwind.config.ts
!postcss.config.js
!relay.config.json
!schema.graphql
!src
!scripts
!public
